:root {
  --rojo: #500001;
  --azul-transparente: rgba(27, 42, 65, 0.2);
  --rojo2: #8c2a2c;
  --blanco: #FCFAF9;
  --azul: #1B2A41;
  --morado: #102E4A;
}

h1 {
  font-family: 'IBM Plex Mono', monospace;
  margin: 0;
}

body,
p,
h2 {
  font-family: 'Inter', sans-serif;
  margin: 0;
}

.div-header {
  height: 350px;
  position: relative;

  border-bottom: 5px solid var(--azul);

  background: linear-gradient(to top,
      var(--azul) 0%,
      var(--azul-transparente) 25%,
      var(--blanco) 40%,
      var(--blanco) 100%);
}

.div-profilepic {
  position: absolute;
  width: 200px;
  height: 200px;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;

  border: 5px solid var(--azul);

  background-image: url('./assets/foto.jpg');
  background-size: 106%;
  background-position: 50% 48%;
  z-index: 5;
}

.div-personal_info {
  background-color: var(--azul);
  padding-top: 101px;
  height: 20px;
}

.div-tecnologias {
  display: flex;
  justify-content: space-around;
}

.img-tech {
  height: 12vh;
}

.img-foto {
  width: 20px;
}

.wave-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.wave-container span {
  position: relative;

  background-color: var(--azul);

  width: 15px;
  height: 15px;

  /* box-shadow: 0 0 10px var(--azul), 0 0 20px var(--azul); */

  border-radius: 50%;

  margin: 0 1px;

  animation: animate 15s linear infinite;
  animation-duration: calc(125s / var(--i));
}

.wave-container span:nth-child(even){
  background-color: var(--morado);
  box-shadow: 0 0 10px var(--morado), 0 0 20px var(--morado);
}

@keyframes animate {

  0% {
    top: 100%;
    opacity: 0;
  }

  12% {
    opacity: 1;
  }

  50% {
    opacity: .4;
  }

  100% {
    top: 0%;
    transform: scale(0.15);
    opacity: 0;
  }

}

.div-title {
  width: 100%;
  text-align: center;

  position: absolute;
  top: 75px;

  animation: appear 2s linear;
}

.typewritter {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;

  border-right: 1px solid black;
  animation: _blink 1s steps(1, end) infinite
}

@keyframes _blink {
  0%,50% {border-color: transparent}
  25%,75% {border-color: black}
}

@keyframes appear {
  0% {opacity: 0;}
  100% {opacity: 100%;}
}