:root {
  --rojo: #500001;
  --rojo2: #8c2a2c;
  --blanco: #FCFAF9;
  --azul: #1B2A41;
  --azul-transparente: rgba(27, 42, 65, 0.2);
  --azul2: #102E4A;
  --azul3: #5887FF;
}

h1,
h2,
button {
  font-family: 'IBM Plex Mono', monospace;
  margin: 0;
}

body,
p {
  font-family: 'Inter', sans-serif;
}

.div-header {
  height: 350px;
  position: relative;

  border-bottom: 5px solid var(--azul);

  background: linear-gradient(to top,
      var(--azul) 0%,
      var(--azul-transparente) 25%,
      var(--blanco) 40%,
      var(--blanco) 100%);
}

.div-profilepic {
  position: absolute;
  width: 200px;
  height: 200px;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;

  border: 5px solid var(--azul);

  background-image: url('./assets/foto.jpg');
  background-size: 106%;
  background-position: 50% 48%;
  z-index: 5;
}

.div-personal_info {
  background-color: var(--azul);
  padding-top: 120px;
  padding-bottom: 30px;
}

.div-personal_info * {
  color: var(--blanco);
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.intro p {
  width: 80%;
  text-align: center;
  margin-bottom: 0;
}

.techs {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 50px;
  gap: 70px;
}

.techs img {
  height: 100px;
  width: auto;
}

.div-personal_info .playground {
  --btn-default-bg: rgb(41, 41, 41);
  --btn-padding: 15px 20px;
  --btn-hover-bg: rgb(51, 51, 51);
  --btn-transition: .3s;
  --btn-letter-spacing: .1rem;
  --btn-animation-duration: 1.2s;
  --btn-shadow-color: rgba(0, 0, 0, 0.137);
  --btn-shadow: 0 2px 10px 0 var(--btn-shadow-color);
  --hover-btn-color: #FAC921;
  --default-btn-color: #fff;
  --font-size: 16px;
  /* 👆 this field should not be empty */
  --font-weight: 600;
  --font-family: Menlo, Roboto Mono, monospace;
  /* 👆 this field should not be empty */
}

.div-personal_info .playground {
  box-sizing: border-box;
  padding: var(--btn-padding);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--default-btn-color);
  font: var(--font-weight) var(--font-size) var(--font-family);
  background: var(--btn-default-bg);
  border: none;
  cursor: pointer;
  transition: var(--btn-transition);
  overflow: hidden;
  box-shadow: var(--btn-shadow);
}

.div-personal_info .playground span {
  letter-spacing: var(--btn-letter-spacing);
  transition: var(--btn-transition);
  box-sizing: border-box;
  position: relative;
  background: inherit;
}

.div-personal_info .playground span::before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  background: inherit;
}

.div-personal_info .playground:hover span,
.div-personal_info .playground:focus span {
  color: var(--hover-btn-color);
}

.div-personal_info .playground:hover,
.div-personal_info .playground:focus {
  background: var(--btn-hover-bg);
}

.div-personal_info .playground:hover span::before,
.div-personal_info .playground:focus span::before {
  animation: chitchat linear both var(--btn-animation-duration);
}

.normal {
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid var(--azul3);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.normal:hover {
  background: rgb(61, 106, 255);
  box-shadow: 0 0 30px 5px var(--azul3);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.normal:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

.div-tecnologias {
  display: flex;
  justify-content: space-around;
}

.img-tech {
  height: 12vh;
}

.img-foto {
  width: 20px;
}

.wave-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.wave-container span {
  position: relative;

  background-color: var(--azul);

  width: 15px;
  height: 15px;

  /* box-shadow: 0 0 10px var(--azul), 0 0 20px var(--azul); */

  border-radius: 50%;

  margin: 0 1px;

  animation: animate 15s linear infinite;
  animation-duration: calc(125s / var(--i));
}

.wave-container span:nth-child(2n) {
  background-color: var(--azul2);
  box-shadow: 0 0 10px var(--azul2), 0 0 20px var(--azul2);
  scale: .5;
}

.div-title {
  width: 100%;
  text-align: center;

  position: absolute;
  top: 75px;

  animation: appear 2s linear;
}

.typewritter {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;

  border-right: 1px solid black;
  animation: _blink 1s steps(1, end) infinite
}

.div-projects {
  position: relative;
  padding: 50px;
  background: var(--azul)
}

.div-projects::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 1px;
  margin-top: 52.5px;
  height: calc(100% - 50px - -17px);
  background-color: var(--azul3);
}

.div-projects *,
.div-redes-sociales * {
  color: var(--blanco);
}

.div-center-title,
.div-center-title-titulo {
  text-align: center;
  display: flex;
  justify-content: center;
  z-index: 20;
  position: relative;
}

.div-projects h2,
.div-datos_academicos h1,
.div-datos_academicos h2 {
  border: 1px solid var(--azul3);
  padding: 10px 20px;
  border-radius: 7px;
  text-align: center;
}

.div-datos_academicos h1,
.div-datos_academicos h2 {
  background-color: var(--blanco);
  z-index: 2;
}


.div-project-single {
  margin-block: 25px;
  display: flex;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
}

.div-project-single::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  width: 25px;
  height: 25px;

  background-color: var(--azul);
  border-radius: 50%;
  border: 1px solid var(--azul3);
}

.div-project-single::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  width: 15px;
  height: 15px;

  background-color: var(--azul3);
  border-radius: 50%;
}

.div-project-single img {
  width: 40%;
  height: 40%;
}

.div-project-content {
  width: 40%;
}

.div-project-single .div-button {
  text-align: right;
}

.div-datos_academicos {
  position: relative;
  padding-block: 70px;
  background: linear-gradient(to bottom,
      var(--azul) 0%,
      var(--azul-transparente) 50px,
      var(--blanco) 60px, var(--blanco) 100%);
}

.div-datos_academicos ::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 1px;
  margin-top: 52.5px;
  height: calc(100% - 50px - -17px);
  background-color: var(--azul3);
}

.div-center-title-titulo {
  margin-top: 20px;
}

.div-titulo-container {
  display: flex;
  justify-content: center;
  margin-block: 25px;
  position: relative;
  z-index: 20;
}

.img-titulo {
  width: 45%;
  border: 1px solid var(--azul3);
  border-radius: 7px;
  z-index: 2;
}

.dots_container {
  position: absolute;
  width: 100%;
  height: 100%;

  margin-top: -80px;
}

.dots_container span {

  position: relative;
  display: block;
  left: calc(100% - var(--i));

  width: 15px;
  height: 15px;
  background: var(--azul);
  border-radius: 50%;
  box-shadow: 0 0 10px var(--azul), 0 0 20px var(--azul);

  left: calc(100% - var(--i));
}

.div-redes-sociales {
  background: linear-gradient(to bottom,
      var(--blanco) 0%,
      var(--azul-transparente) 15px,
      var(--azul) 80px,
      var(--azul) 100%);
  padding-top: 110px;
}

.div-redes-sociales h1 {
  border: 1px solid var(--azul3);
  padding: 10px 20px;
  border-radius: 7px;
}

.div-redes-sociales::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 1px;
  margin-top: -190px;
  height: 190px;
  background-color: var(--azul3);
}

.social-cards {
  display: flex;
  justify-content: space-around;
}

.social-card-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.social-card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  border: 1px solid var(--azul3);
  border-radius: 7px;
  margin-block: 15px;
  padding: 10px 20px;
  text-align: center;
  width: 330px;
  min-height: 155px;
}

.social-card-content img {
  width: 100px;
}

@keyframes _blink {

  0%,
  50% {
    border-color: transparent
  }

  25%,
  75% {
    border-color: black
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes animate {

  0% {
    top: 100%;
    opacity: 0;
  }

  12% {
    opacity: 1;
  }

  50% {
    opacity: .4;
  }

  100% {
    top: 0%;
    transform: scale(0.15);
    opacity: 0;
  }

}

@keyframes chitchat {
  0% {
    content: "#";
  }

  5% {
    content: ".";
  }

  10% {
    content: "^{";
  }

  15% {
    content: "-!";
  }

  20% {
    content: "#$_";
  }

  25% {
    content: "№:0";
  }

  30% {
    content: "#{+.";
  }

  35% {
    content: "@}-?";
  }

  40% {
    content: "?{4@%";
  }

  45% {
    content: "=.,^!";
  }

  50% {
    content: "?2@%";
  }

  55% {
    content: "\;1}]";
  }

  60% {
    content: "?{%:%";
    right: 0;
  }

  65% {
    content: "|{f[4";
    right: 0;
  }

  70% {
    content: "{4%0%";
    right: 0;
  }

  75% {
    content: "'1_0<";
    right: 0;
  }

  80% {
    content: "{0%";
    right: 0;
  }

  85% {
    content: "]>'";
    right: 0;
  }

  90% {
    content: "4";
    right: 0;
  }

  95% {
    content: "2";
    right: 0;
  }

  100% {
    content: "";
    right: 0;
  }
}